@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #090a24;
  --medium-blue: #294380;
  --light-blue: #69d2cd;
  --light-green: #b9f1d6;
  --avocado: #f1f6ce;
}

/* Adicionar cor personalizada para usar com o Tailwind */
.bg-claude-beige {
  background-color: var(--claude-beige);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7vh; /* Para compensar o header fixo */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  font-family: 'Jersey 25', sans-serif;

}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Ajuste entre 400 e 700 */
  font-style: normal;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
